
@{
    ViewBag.Title = "DangXuat";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<form action="@Url.Action("DangXuat", "UserController")" method="post">
    <input type="submit" value="Đăng xuất" />
</form>


