﻿
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_ LayoutUser.cshtml";
}

<h2 style="text-align:center;padding:10px;">XÁC NHẬN ĐƠN HÀNG</h2>
<h4>
    Đơn hàng của quý khách đã được chúng tôi ghi nhận,
    chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất
    và giao hàng đúng hẹn
</h4>
<p style="float: right; font-size: 20px;">
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "SachOnline")
</p>
